<!DOCTYPE html>
<html>
<head>
  <title><%=h (!yield(:title).blank? && yield(:title)) || "Question & Answer platform for Nigerian Law School Students and Lawyers" %></title>
  <% if controller_name == 'main' %>
  <meta name="keywords" content="Nigerian Law School, Nigerian Law School Students, Nigerian Constitution" />
  <meta name="description" content="Question and Answer platform for Nigerian Law School Students and Lawyers. Contribute to the growing database of legal knowledge. It's free, Sign up now!" />
  <% end %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="all" />
  <meta name="author" content="legal9ja" />
  <meta name="google-site-verification" content="z7jn-_KTVhGVQK7tqayofuq5E22C8gfA0pfoaqnuI34" />
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/tagit'  if (['thrs'].include? controller_name) && (["new","create","edit","update"].include? action_name) %>
  <!--[if gte IE 5.5000]>
    <%#= javascript_include_tag 'pngfixe.js' %>
  <![endif]-->
  <%= csrf_meta_tag %>

</head>
<body>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-557ab350780b285b" async="async"></script>


  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '490989317732519',
        xfbml      : true,
        version    : 'v2.3'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=117005848404078";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-557ab350780b285b" async="async"></script>
  
  <!-- flash windows -->
  <%= render :partial => 'shared/flash_window' %>
  <div id="header">
    <div class="inner_header clear_wrapper">
      <div class="left">
        <%= link_to APP_CONFIG['display_app_name'],root_url, :class=>'logo' %>
      </div>
      <div class="right">
        <%= render 'users/user_stuff' %>
      </div>
    </div>
  </div>

  <div id="site">
    <%= yield %>
  </div>
    
<%= render 'layouts/bottom' %>